body{
    background-color: rgb(187, 184, 184);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.formulario{
    padding: 10rem;
    background-color: rgb(136, 5, 64);
    width: 40vw;
    color: antiquewhite;
    padding: 30px 36px 28px 28px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;
 
    
}

.input-field {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;

}

.error-message {
    color: rgb(255, 234, 0);
    font-size: 15px;
    margin-top: 5px;

}

.submit-button{
    padding: 10px 20px;
    background-color: rgb(6, 129, 123);
    color: rgb(238, 239, 241);
    border-radius: unset;
    cursor: pointer;
    
}

.input-field{
    padding: 5px;
    margin-right: 10px;
}

.tdecont{
    padding: 5px;
    margin-right: 10px;
    width: 50%;
    margin-bottom: 10px;
}
.asunto {
    padding: 5px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px; 
}

.descrip{
    padding: 30px;
    width: 92%;
}

.contraseña{
    padding: 5px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px; 
}

.mensaje{
    color: blue;
}