body{
    background: url(img/mascotas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

label{
  color: aliceblue;
}

.formulario{
    background:url(img/form.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    padding:30px 33px 67px;
    border-top:6px solid rgb(76, 3, 3);
    box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
   
}

.input-field {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
   

}

.error-message {
    color: rgb(255, 234, 0);
    font-size: 15px;
    margin-top: 5px;

}

.submit-button{
    padding: 10px 20px;
    background-color: rgb(6, 129, 123);
    color: rgb(238, 239, 241);
    border-radius: unset;
    cursor: pointer;
    
}

.input-field{
    padding: 5px;
    margin-right: 10px;

}

.tdecont{
    padding: 5px;
    margin-right: 10px;
    width: 50%;
    margin-bottom: 10px;
    color: antiquewhite;
}
.asunto {
    padding: 5px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px; 
}

.descrip{
    padding: 30px;
    width: 92%;
 
}

.contraseña{
    padding: 5px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px; 
}

.mensaje{
    margin-top: 50px;
    color: rgb(248, 244, 244);
    width: 300px;
    padding: 10px;
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    .formulario {
        padding: 10px;
    }

    .input-field {
        width: 100%;
    }

    .submit-button {
        width: 100%;
    }
}