
.nav_principal{
   
    align-items: center;
    background-color: #3f0b32;
    border-style: outset;
    display: flex;
    justify-content: space-between;
    opacity: 75%;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 50px;
    font-size:40px;
}

li{
    font-family: Arial;
font-size:15px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #bc2183;
color: #fff;
}
 li a:hover {
    background-color: #d79025;
    padding-bottom:40px;
    background-color: rgb(93, 95, 93);
    }

a{
    color: white;
    font-weight: 900;
    text-decoration: none;
   
}
ul{
    list-style-type: none;
    display: flex;
    padding: 20px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  